
<div class="index">
  <%= notice %>
  <h1>INDEX</h1>

  <%= link_to 'Crear nuevo ToDo', todos_new_path %>

  <ul class="list-group">
    <% @todos.each do |todo| %>
    <li class="list-group-item">
      <%= todo.description %>
      <%= todo.completed %>
      <%= link_to 'Mostrar', todo_path(todo.id) %>
      <%= link_to 'Edit', edit_path(todo.id) %>
      <%= link_to 'Delete', todo, method: :delete %>
      <button type="button" name="button"> <%= link_to 'Completado', completed_path(todo.id), method: :patch %> </button>
    <% end %>
    </li>
  </ul>

</div>
